* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-family: sans-serif;
    font-weight: 300;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #016473;
    font-size: 24px;
    color: #E1560B;
}


.welcome-page, 
.login-page,
.questions {
    display: flex;
    width: 1024px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #82D0F4;
    height: 624px;
    padding: 20px;

}


.login-page {
    display: none;
}

.questions {
    display: none;
}

.title-app {
    font-size: 2em;
    padding-bottom: 7.5px;
    border-bottom: 3px solid #E1560B;
}

.description {
    width: 500px;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
}

.start-play,
.player-name,
.next {
    background-color: #FFE1D0;
    border: 3px solid #E1560B;
    border-radius: 20px;
    padding: 7.5px;
    font-size: 1em;
    color:#af440a;
    overflow: hidden;
    cursor: pointer;
}

.player-name {
    background-color: cornsilk;
    cursor: auto;
    border-radius: 10px;
    padding: 5px;
}

.player-name:focus {
    outline: none;
}

.next {
    padding: 10px;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.option {
    margin-bottom: 10px;
    font-size: 1.2em;
    background-color: #FFE1D0;
    border: 3px solid #E1560B;
    border-radius: 20px;
    width: 250px;
    color:#af440a;
    text-align: center;
    margin-bottom: 20px;

}

.question{
    font-size: 1.3em;
    margin-bottom: 70px;
}

.bar {
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: space-between;
    align-items: center;

}

.where-step,
.next-question {
    padding: 10px 15px 10px 15px;
    background-color: #016473;
    border: 3px solid #FFE1D0;
    color: #FFE1D0;
    font-size: 1.1em;
}

.next-question {
    background-color: #FFE1D0;
    color: #E1560B;
    border: 3px solid #E1560B;
    cursor: pointer;
}

.sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}


.sec-two {
    display: none;
}

.sec-three {
    display: none;
}

.sec-four {
    display: none;
}

.sec-five {
    display: none;
}

.sec-six {
    display: none;
}

.sec-seven {
    display: none;
}

.sec-eight {
    display: none;
}

.sec-nine {
    display: none;
}

.sec-ten {
    display: none;
}